sudo: required
dist: trusty
language: python
matrix:
    include:
        - python: 3.5
        - python: 3.5
          env: TEST_MODE=PEP8
        - python: 3.5
          env: TEST_MODE=MYPY
notifications:
    email: false
install:
  # source: http://conda.pydata.org/docs/travis.html
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy pystan pytest
  - source activate test-environment
  - pip install pep8 pytest-pep8 pytest-xdist
  - pip install python-coveralls pytest-cov
  - pip install numpydoc
  - pip install pqdict
  - pip install git+git://github.com/python/mypy.git
  - pip install git+git://github.com/PyCQA/astroid
  - pip install git+git://github.com/PyCQA/pylint
  - pip install overloading
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      pip install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0rc0-cp27-none-linux_x86_64.whl;
    elif [[ "$TRAVIS_PYTHON_VERSION" == "3.5" ]]; then
      pip install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0rc0-cp35-cp35m-linux_x86_64.whl;
    fi
  - python setup.py install
script:
  - if [[ "$TEST_MODE" == "PEP8" ]]; then
      PYTHONPATH=$PWD:$PYTHONPATH py.test --pep8 -m pep8 -n0;
    elif [[ "$TEST_MODE" == "MYPY" ]]; then
      PYTHONPATH=$PWD:$PYTHONPATH mypy ./;
    else
       PYTHONPATH=$PWD:$PYTHONPATH py.test ./;
    fi
after_success:
  - coveralls
